<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895266775061-1ir4a6j0m4vjrt4625sfgqu8hap9gdqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895266775061-1ir4a6j0m4vjrt4625sfgqu8hap9gdqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCqLJsK6-6AFql_ktfnM5zUV_XxRz9j4DI</string>
	<key>GCM_SENDER_ID</key>
	<string>895266775061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babynames</string>
	<key>PROJECT_ID</key>
	<string>babynames-b0050</string>
	<key>STORAGE_BUCKET</key>
	<string>babynames-b0050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895266775061:ios:d6232e7be2196c6feeae1c</string>
	<key>DATABASE_URL</key>
	<string>https://babynames-b0050.firebaseio.com</string>
</dict>
</plist>